.gradient_backgound {
    margin: auto;
    width: 1024px;
    height: 376px;
    background: linear-gradient(to right, blue, lightskyblue, blue);    
}

.div1 {
    width: 1024px;
    height: 376px;
    border: 4px dashed;
    background-size: 256px;
    background-repeat: no-repeat;
    background-image: url(../image/easter.gif), url(../image/easter.gif);
    background-position: right center, left center;
}

h1 {
    margin: auto;
    text-align: center;
    width: 376px;
    height: 376px;
}
